 *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(247, 247, 247);
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 18px;
  }

 .icon {
    width: 22px;
    height: 22px;
 }

 .logo {
    width: 35px;
    height: 35px;
 }

 .header {
    background-color: #F7EBD9;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 22px 12px 4px 12px;
    box-shadow:  0 8px 8px -8px #6a95b8bb;
 }

 .main-content {
   display: grid;
   grid-template-columns: 2fr 1fr;
    grid-column: 2 / 3;
 }

 .sidebar {
    background-color: #6A0611;
    color: #F7EBD9;
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: large;
 }

 .profile-links, .technical-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
 } 

 .profile-links li:hover,
 .technical-links li:hover{ 
   background-color: #a81a34e1;
   width: max-content ;
   padding: 2px 12px;
   border-radius: 16px;
   cursor: pointer;
 }

 .technical-links {
    margin-top: 38px;
 }

 .profile-links {
    margin-top: 22px;
 }
 
 .logo-container {
    display: flex;
    padding: 18px;
    gap: 12px;
    margin-left: 18px;
    align-items: center;
 }


 .layout {
     display: grid;
     width: 100%;
     grid-template-columns: 1fr 5fr;
 }

 #search {
    width: 32rem;
    border-radius: 12px;
    border: 0;
 }

 .search {
    display: flex;
    align-items: center;
    padding-left: 18px;
    gap: 12px;
 }

 .user {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
 }
  .avatar {
    width: 36px;
    height: 36px;
    border-radius: 16px;
  }

 .noti {
   flex: 0.6;
 }

 .quick-buttons {
    padding: 16px;
    margin-top: 0.5em;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    
 }

 .content-buttons, .create-buttons {
   display: flex;
   gap: 16px;
  
 }

 .create-buttons > button {
   border-radius: 25px;
   padding: 2px 8px;
   opacity: 0.9;   
 }



 button {
    background-color: #032944;
    color: #F7EBD9;
    border-radius: 22px;
    width: max-content;
    padding: 4px 16px;
    border: none;
    font-size: 15px;
 }

 button:hover {
   background-color: #6A95B8;
   cursor: pointer;
 }

  .user-name {
   font-weight: 700;
  }

  .user-name:hover {
   background-color: #a81a34b4;
   color: rgba(0, 0, 0, 0.788);
   border-radius: 12px;
   padding-left: 4px;
   padding-right: 4px;
   cursor: pointer;
  }

  .trending {
   grid-column: 2 /3 ;
  }

  .projects {
   grid-column: 1;
   padding: 16px;
  }

  .project {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
   gap: 12px;
  }

  h4 {
   padding: 10px;
   font-size: 20px;
  }

   .title {
   font-size: 16px;
  }

  

  .card {
    background-color: #F7EBD9;
    padding: 18px;
    border-radius: 8px;
    border-left: 8px solid #6A95B8;
    box-shadow:  0 8px 8px -6px #6a95b8d8;
  }

  .announcements {
   grid-column: 2 / 3;
  }

  .ratings {
   display: flex;
   justify-content: flex-end;
   gap: 0.8em;
   cursor: pointer;
  }

